services:
  backend:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: project_compound_backend
    ports:
      - "8000:8000"
    volumes:
      - ./api:/app
    environment:
      - ALLOWED_HOSTS=backend,localhost,127.0.0.1
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --quiet --tries=1 --spider http://localhost:8000 || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: project_compound_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./app/src:/app/src
      - ./app/public:/app/public
      - ./app/index.html:/app/index.html
      - ./app/vite.config.ts:/app/vite.config.ts
      - ./app/tsconfig.json:/app/tsconfig.json
      - ./app/tsconfig.app.json:/app/tsconfig.app.json
      - ./app/tsconfig.node.json:/app/tsconfig.node.json
      - ./app/eslint.config.js:/app/eslint.config.js
    environment:
      - BACKEND_API_PORT=8000
    depends_on:
      - backend
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --quiet --tries=1 --spider http://localhost:5173 || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
